
body {
  font-family: 'Inter', sans-serif;
}

.nav-container {
  padding: 16px 24px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.logo{
    margin: 16px 120px 0px;
    margin-left: ;
   
    
    
}
 .menu {
    
    display: flex;
    gap: 32px;
 }
 .menu a{
      
     color: #000000;
     font-size: 16px;
     font-weight: 600px;
     text-decoration: none;
     line-height: 125%;
     
}

.btn {
  background-color: #469165;   
  border: none;
  padding: 16px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.btn a {
  color: white;              
  text-decoration: none;      
  font-size: 16px;
  font-weight: 600;
  
}


.hero-section {
    background-image: url(../assets/hero-bg.png);
    background-size: 100%;
    height: 674px;
    margin: 0 auto;
    display: flex;
    gap: 40;
    justify-content: center;
    align-items: center;
    text-align: center;




}

.hero-content {
    max-width: 850px;
    padding: 20px;
}

.badge {
    margin: 0 auto;
    max-width: 229px;
    padding: 8px 12px;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;
    background-color: #ffffff; 
    color: #469165;
    font-size: 16px;
    font-weight: 500px;
    font-family: ;
}




h1 {
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    color: #ffffff;
    
}

.text-green {
    color: #4D946A;
}


 p {
    max-width: 1360px;
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 32px;
    line-height: 24px;
    text-align: center;
    
}





.hero-button {
    display: flex;
    gap: 15px;
    justify-content: center;
   
}
.btn-one {
    
    padding: 16px 12px;
    background-color: #469165;
    border: none;
    color: #ffffff;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    
}

.btn-two {
    background: transparent;
    color: white;
    border: 1px solid #ffffff;
    padding: 16px 12px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
    
}


